/*全局样式*/
*{
    margin: 0px;
    padding:0px;
    border: 0px;
}
ul,ol,a{
    text-decoration: none;
    list-style: none;
}
.clearfix:after
{
    content:'';
    display:block;
    clear:both;
}
.hide
{
    display: none;
}
/*全局结束*/
/*图片导航*/
.banner
{
    width:100%;
    height: 120px;
}
.banner a{
    display: block;
    width: 100%;
    height: 100%;
}
/*广告栏结束*/
/*水平导航菜单*/
.h-nav
{
    background: #333;
    position: relative;
    color: #b0b0b0;
    height: 40px;
    width: 100%;
    font-size: 12px;
    line-height: 40px;
}
.h-nav a {
    color: #b0b0b0;
}
.h-nav a:hover
{
    color: red;
}
.container
{
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.h-nav span{
    color:#424242;
    margin: 0 6px;
    font-family: sans-serif;
}
.h-map
{
    float: left;
    left: 40px;
    height: 40px;
    line-height: 40px;
}
.log-menu
{
    float: right;
}
/*购物车*/
.info
{
    float: right;
    width: 120px;
    height: 40px;
    text-align: center;
    overflow: hidden;
}
.info-box
{
    width: 316px;
    height: 0px;
    padding-top: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    border: 1px solid red \9;
    position: absolute;
    right: 0;
    top: 40px;
    display: none;
    background: #ffffff;
    z-index: 5;/*设置优先级，默认为0*/
}
.info:hover
{
    background: #ffffff;
    color: #ff6700;
}
.info:hover .info-box
{
    display: block;
    animation: run 3s ease-in 1s forwards;
}
@keyframes  run{
    50%
    {
       height: 35px;
    }
    100%
    {
        height: 85px;
    }
}
/*购物车结束*/
/*水平导航栏结束*/
/*网页头部* 可见部分*/
.header
{
    position: relative;
    width: 100%;
    height: 100px;
    line-height: 100px;
}
.header-logo
{
    float: left;
    height: 56px;
    margin-top: 22px;
    margin-right: 15px;
}
.header-logo a
{
    height: 56px;
    width: 56px;
    display: block;
    background: url("../img/logo-footer.png") no-repeat 50% 50%;
}
.header-nav
{
    width: 850px;
    float: left;
}
.ul-header-nav
{
    height: 100px;
    margin-left: 150px;
    line-height: 100px;
}
.ul-header-nav li
{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.ul-header-nav a{
    display: block;
    color: #000000;
    font-size: 16px;
}
.ul-header-nav a:hover
{
    color: #ff6700;
}
.header-search {
    position: relative;
    float: right;
    width: 296px;
    height: 50px;
    margin-top: 25px;
    border: 1px solid #ffffff;
}
#search
{
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    border: 1px solid #b0b0b0;
    height: 50px;
    width: 225px;
    padding: 0px 10px;
    font-size: 16px;
    outline: none;
}
.header-search i
{
    position: absolute;
    display: block;
    height: 52px;
    line-height: 52px;
    width: 50px;
    text-align: center;
    font-size: 24px;
    right: 0px;
    top: 0px;
}
.search-logo
{
    position: absolute;
    right: 0px;
    top: 0px;
    display: block;
    height: 52px;
    width: 50px;
    border-top: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
    border-right: 1px solid #b0b0b0;
    background-color: rgba(255,255,255,0);
    z-index: 1;
    outline: none;
    cursor: pointer;/*让鼠标变小手*/
}
.hotwords
{
    position: absolute;
    right: 52px;
    height: 50px;
    line-height: 50px;
    top: 0px;
    font-size: 12px;
}
.a-hotwords
{
    color: #424242;
    display: inline-block;
    line-height: 20px;
    background: #eee;
    margin:0px 5px;
    padding: 0px 5px;
}
.search-logo:hover+i
{
    background: #ff6700;
    color: #ffffff;
}
.a-hotwords:hover
{
    background: #ff6700;
    color: #ffffff;
}
#search:focus~.hotwords a
{
 display: none;
}
#search:focus
{
    border: 1px solid #ff6700;
}
#search:focus+input
{
    border-bottom:1px solid #ff6700;
    border-top:1px solid #ff6700;
    border-right:1px solid #ff6700;
}
#search:focus~.keywords
{
    display: block;
}
/*输入框热点列表开始*/
.keywords
{
    display: none;
    position: absolute;
    top: 52px;
    height: 330px;
    width: 245px;
    background: #ffffff;
    z-index: 3;
    border-left: 1px solid #ff6700;
    border-right: 1px solid #ff6700;
    border-bottom: 1px solid #ff6700;
}
.result-list li
{
    height: 30px;
    position: relative;
}
.result-list a
{
    display: block;
    height: 18px;
    width: 215px;
    padding: 6px 15px;
    line-height: 18px;
    color: #000000;
    font-size: 12px;
}
.result
{
    float: right;
    color: #b0b0b0;
}
.result-list li:hover
{
    background:rgb(250,250,250) ;
}
/*输入框热点列表结束*/
/*网页头部 二级导航菜单开始*/
.link-menu
{
    height: 0px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 100px;
    background: #ffffff;
    border-top: 1px solid #b0b0b0;
    box-shadow: 0 1px 4px 0px rgba(0,0,0,0.15);
    overflow: hidden;/*避免溢出隐藏*/
    display: none;
    font-size: 12px;
    z-index: 4;
}
.ul-link-menu
{
    line-height: 20px;
    width: 1226px;
    margin: 0px auto;
}
.ul-link-menu li
{
    height: 200px;
    width: 200px;
    text-align: center;
    float: left;
    padding: 0px;
}
.new-cell
{
    display: inline-block;
    height: 18px;
    padding: 2px 20px;
    border: 1px solid #ff6700;
    font-size: 12px;
    color: #ff6700;
    text-align: center;
    line-height: 18px;
    margin-bottom: 10px;
}
img
{
    height: 110px;
    width: 160px;
}
.name
{
    display: block;
    height: 20px;
    font-size: 12px;
    margin-top: 10px;
}
.price
{
    color: #ff6700;
}
.long-line
{
    position:absolute;
    top: 40px;
    display: block;
    height: 110px;
    border-left: 1px solid #b0b0b0;
}
.link:hover .link-menu
{
    display: block;
    animation: link-run 2s ease-in 1s forwards;
}
@keyframes link-run {

    0%
    {
        height: 0px;
    }
    50%
    {
        height: 100px;
    }
    100%
    {
        height: 200px;
    }
}
/*二级导航菜单结束*/
/*网站头部结束*/
/*轮播图开始*/
.slide-content
{
    position: relative;
    height: 1108px;
}
.slide-box
{
    position: relative;
    height: 460px;
}
.slide-box img
{
    height: 460px;
    width: 1226px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.img-box
{
    z-index:1;
}
.prev-bnts
{
    height: 70px;
    width: 30px;
    background:rgba(255,255,255,0);
    position: absolute;
    left: 235px;
    top:195px;
    line-height: 70px;
    color: #b0b0b0;
}
.next-btns
{
    height: 70px;
    width: 30px;
    background:rgba(255,255,255,0);
    position: absolute;
    right: 0px;
    top:195px;
    line-height: 70px;
    color: #b0b0b0;
}
.slide-box i
{
    font-size: 30px;
}
.prev-bnts:hover
{
    background: rgba(0,0,0,0.5);
    color: #ffffff;
}
.next-btns:hover
{
    background: rgba(0,0,0,0.5);
    color: #ffffff;
}
.btns
{
    position: absolute;
    bottom: 0px;
    right: 10px;
    height: 30px;
    width: 120px;
}
.btns li
{
    height: 6px;
    width: 6px;
    border: 2px solid;
    border-color: rgb(165,158,150);
    background: rgb(126,117,106);
    float: left;
    margin-right: 8px;
    border-radius: 50%;
}
.btns li:hover
{
    border-color: rgb(137,132,125);
    background: rgb(228,219,208);
}
/*轮播图结束*/
/*侧边栏开始*/
.list-menu
{
    position: absolute;
    left: 0px;
    top:0px;
    width: 230px;
    height: 420px;
    padding: 20px 0px;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}
.list-content
{
    height: 42px;
    padding-left: 30px;
    font-size: 14px;
    line-height: 42px;
}
.list-content a
{
    color: #ffffff;
}
.next
{
    position: absolute;
    right:20px;

    color: rgb(228,219,208);
}
.list-content:hover
{
    background: rgba(255,103,0,1);
}
/*弹出导航开始*/
.list-content-menu
{
    display: none;
    position: absolute;
    left: 230px;
    top: 0px;
    height: 460px;
    width: 795px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.15);
    background:#ffffff;
    border:1px solid;
    border-color: rgba(228,219,208,0.5);
}
.ul-list-content-menu
{
    float: left;
    width: 265px;
    height: 460px;
}
.ul-list-content-menu li
{
    height: 76px;
    width: 265px;
    line-height: 76px;
}
.ul-list-content-menu img
{
    height: 40px;
    width: 40px;
}
.ul-list-content-menu a span
{
    color: #000000;
}
.list-a-left
{
    display: block;
    width: 170px;
    height: 40px;
    float: left;
    line-height: 40px;
    padding:18px 0px 18px 20px;
}
.list-a-left span
{
    position: relative;
    bottom: 15px;
}
.list-a-right
{
    width: 75px;
    height: 76px;
    float: right;
    text-align: center;
}
.list-a-left:hover span
{
    color:rgb(255,121,30);
}
.list-a-right:hover span
{
    background: rgb(242,88,7);
    color: #ffffff;
}
.list-content:hover .list-content-menu
{
    display: block;
}
/*弹出导航结束*/
/*侧边栏结束*/
/*内容框列表开始*/
.sub-list
{
    height: 170px;
    width: 100%;
    position: absolute;
    top: 460px;
    left: 0px;
    margin-top: 15px;
}
.logo-sub-list
{
    height: 163px;
    width: 224px;
    background: rgb(97,87,80);
    padding: 3px 3px 4px 3px;
}
.ul-logo-sub-list li
{
    height: 81px;
    width: 68px;
    float: left;
    padding: 0px 3px;
    position: relative;
}
.ul-logo-sub-list a
{
    display: block;
    width: 68px;
    height: 46px;
    padding-top: 18px;
    color: rgb(207,205,203);
    font-size: 12px;
    text-align: center;
}
.ul-logo-sub-list i
{
    display: block;
    width: 100%;
    font-size: 24px;
    margin-bottom: 5px;
}
/*.ul-logo-sub-list span
{
    position: relative;
    top:5px;
    float: left;
    height: 70px;
    border-left: 1px solid #665e57;
}*/
/* .ul-logo-sub-list .long-line-1
{
     position: relative;
     top:-1px;
     display: block;
     width: 62px;
     height: 1px;
     float: left;
     background: #665e57;
     margin-left: 5px;
     margin-left: 9px;
}*/
/*用伪类做竖线*/
.ul-logo-sub-list li.lone-y:after
{
    position: absolute;
    top:4px;
    right: 0px;
    content: " ";
    height: 70px;
    width: 1px;
    background: #665e57;
}
.ul-logo-sub-list li.lone-x:before {
    position: absolute;
    bottom: 0px;
    right: 5px;
    content: " ";
    width: 62px;
    height: 1px;
    background: #665e57;
}
/*结束*/
 .ul-logo-sub-list li:hover a
 {
     color: #ffffff;
 }
 .img-sub-list
 {
     position: absolute;
     top: 0px;
     left:230px;
     height: 170px;
     width: 996px;
 }
 .ul-img-sub-list li
 {
     height: 170px;
     width: 316px;
     margin-left: 16px;
     float: left;
 }
 .ul-img-sub-list a
 {
     display: block;
     height: 170px;
     width: 316px;
 }
 .ul-img-sub-list img
 {
     height: 170px;
     width: 316px;
 }
 .ul-img-sub-list img:hover
 {
     box-shadow: 0px 20px 10px rgba(0,0,0,0.12);
 }
/*内容框列表结束*/
/*水平轮播图开始*/
.sub-slide
{
    position: absolute;
    top: 660px;
    height: 438px;
    width: 1226px;
}
.box-header
{
    height: 58px;
    line-height: 58px;
}
.box-header h2
{
    font-weight: 200;
}
.more
{
    width: 70px;
    height: 25px;
    position: absolute;
    top:23px;
    right: 0px;
    line-height: 25px;
}
.more-content
{
    width: 70px;
    height: 25px;
    line-height: 25px;
}
.more-content a
{
    display: block;
    height: 16px;
    width: 24px;
    padding: 3px 5px;
    float: left;
    line-height: 12px;
    text-align: center;
    border: 1px solid rgb(224,224,224);
    margin-left: -1px;
    color:rgb(224,224,224) ;
}
.more-content i
{
    font-size: 12px;
    font-weight:900;
}
.more-content .icon-left
{
    color: rgb(176,176,176);
}
 .more-content a:hover i.icon-active
{
    color: #ff6700;
}
.sub-list-content-box
{
    height: 380px;
    margin-bottom: 40px;
    overflow: hidden;
}
.ul-sub-list-content
{
    height: 380px;
    width: 2520px;
}
.list-Item-1,.list-Item-2
{
    height: 300px;
    width: 234px;
    padding-top: 39px;
    float: left;
    margin-right: 14px;
    text-align: center;
    background: rgb(250,250,250);
}
.list-Item-1 a.img,.list-Item-2 a.img
{
    display: block;
    height: 166px;
    width: 160px;
    margin: 0px 37px 22px 37px;
    text-align: center;
}
.list-Item-1 img,.list-Item-2 img
{
    height: 160px;
    width: 160px;
}
.list-Item-1.sub-list-Item-5,.list-Item-2.sub-list-Item-10
{
    margin-right: 0px;
}
.list-Item-1 span,.list-Item-2  span
{
    display: block;
    line-height: 21px;
    height: 21px;
    text-align: center;
    font-size: 14px;
    color: black;
}
.introduce
{
    color: rgb(176,176,176);
    font-size: 12px;
    margin-bottom:14px ;
}
/*.list-Item-2*/
/*{*/
    /*position: absolute;*/
    /*top:58px;*/
/*}*/
.list-Item-1 .price,.list-Item-2 .price
{
    font-size: 14px;
}
.sub-list-Item-1, .sub-list-Item-6
{
    border-top: 1px solid rgb(255,172,19);
}
.sub-list-Item-2, .sub-list-Item-7
{
    border-top: 1px solid rgb(131,196,78);
}
.sub-list-Item-3, .sub-list-Item-8
{
    border-top: 1px solid rgb(33,150,243);
}
.sub-list-Item-4, .sub-list-Item-9
{
    border-top: 1px solid rgb(229,57,53);
}
.sub-list-Item-5, .sub-list-Item-10
{
    border-top: 1px solid rgb(0,192,165);
}
/*水平轮播图结束*/
/*页面主体部分开始*/
.page-main
{
    width: 100%;
    height: 5248px;
    padding-top: 60px;
    background: rgb(245,245,245);
}
.homehold
{
    height: 686px;
    width: 100%;
}
.box-hd
{
    position: relative;
    height: 58px;
    width: 100%;
}
.box-hd h2
{
    font-weight: 200;
    line-height: 58px;
}
.more-title
{
    position: absolute;
    top:0px;
    right: 0px;
    height: 42px;
    width: 280px;
}
.more-title-content
{
    height: 26px;
    padding-top: 16px;
    width: 280px;
}
.more-title li
{
    height: 26px;
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
.oveline
{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.box-body
{
    height: 628px;
}
.span-first
{
    height: 628px;
    width: 234px;
    float: left;
}
.span-first-ul
{
    height: 628px;
}
.span-first-li-1
{
    height: 614px;
    margin-bottom: 14px;
}
.span-first-li-1 a
{
    display: block;
    height: 614px;
    width: 234px;
}
.span-first-li-1 img
{
    display: block;
    height: 614px;
    width: 234px;
}
.span-first-li-1 a:hover
{
    box-shadow: 0 15px 50px rgba(0,0,0,0.15);
    position: relative;
    top:-5px;
}
.span-nine
{
    width: 978px;
    height: 628px;
    margin-left: 14px;
    float: left;
    text-align: center;
}
.span-nine-ul
{
    margin: 0px 0px -14px -14px;
    width:  992px;
    height: 628px;
    display: none;
}
.span-nine-li-m
{
    float: left;
    width: 234px;
    height: 246px;
    padding: 34px 0px 20px;
    margin: 0px 0px 14px 14px;
    background: #ffffff;
    position: relative;
    overflow: hidden;
}
.span-nine-li-img
{
    width: 150px;
    height: 150px;
    margin: 0px auto 18px;
}
.span-nine-li-img a
{
    display: block;
}
.span-nine-li-img img
{
    width: 150px;
    height: 150px;
}
.span-nine h3
{
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    margin: 0px auto;
}
.span-nine h3 a
{
    color: black;
}
.desc
{
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    margin: 0px auto 10px;
    color: rgb(176, 176, 176);
}
.p-price
{
    font-size: 14px;
    color: #ff6700;
    display: inline;
}
.span-nine-li-m del
{
   font-size: 14px;
    color: #b0b0b0;
}
.flag
{
    width: 62px;
    height: 20px;
    font-size: 12px;
    color: #eeeeee;
    background: red;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 87px;
}
.rote
{
    width: 234px;
    height: 75px;
    position: absolute;
    bottom: -75px;
    background: #ff6700;
}
.rote a
{
    display: block;
    width: 174px;
    height: 59px;
    margin: 8px 30px;
}
.rote-content
{
    color: #eeeeee;
    font-size: 14px;
}
.rote-rece
{
    font-size: 12px;
    color: #b0b0b0;
}
.span-nine-li-m:hover
{
    box-shadow: 0 15px 50px rgba(0,0,0,0.15);
    top:-5px;
}
.span-nine-li-m:hover .rote
{
    animation: rote-run 500ms ease-in 1s forwards;
}
@keyframes rote-run {
    50%{
          bottom: -35px;
    }
    100%
    {
        bottom: 0px;
    }
}
.span-nine-li-s
{
    float: left;
    width: 234px;
    height: 93px;
    padding-top: 50px;
    background: #ffffff;
    margin: 0px 0px 14px 14px;
    position: relative;
}
.span-nine-li-s-img
{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    bottom:25px;
}
.span-nine-li-s-img a
{
    width: 80px;
    height: 80px;
}
.span-nine-li-s-img img
{
    width: 80px;
    height: 80px;
}
.span-nine-li-s h3
{
    position: relative;
    left: -50px;
}
.span-nine-li-s p
{
    position: relative;
    left: -65px;
}
.p-next h3
{
   font-size: 18px;
    color: black;
}
.p-next span
{
    position: relative;
    left:-74px;
    color: #b0b0b0;
    font-size: 12px;
}
.span-nine-li-s:hover {
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.15);
    top: -5px;
}
.selected
{
    display: block;
}
/*页面主体部分结束*/
/*页面底部导航开始*/
.page-footer
{
    width: 100%;
    height: 272px;
}
.page-footer .container
{
    height: 272px;
    position: relative;
}
.page-footer-header
{
    height: 80px;
    width:100%;
    position: relative;
}
.page-footer-header:after
{
    position:absolute;
    bottom: 0px;
    right: 0px;
    content: " ";
    height: 1px;
    width: 1226px;
    background: rgb(224,224,224);
}
.ul-page-footer-header-content
{
    width: 100%;
    height: 25px;
}
.page-footer-header li {
    width: 244px;
    height: 25px;
    float: left;
    border-left: 1px solid rgb(224, 224, 224);
    margin-top: 27px;
    text-align: center;
    line-height: 20px;
}
.page-footer-header li:hover a, .page-footer-header li:hover i
{
    color: #ff6700;
}
.page-footer-header li i
{
    display: inline-block;
    height: 24px;
    width: 25px;
    margin-right: 6px;
    color: rgb(97,97,97);
    font-size: 24px;
}
.page-footer-header li a
{
    display: block;
    color: rgb(97,97,97);
    height: 25px;
    font-size: 16px;
}
#list-first
{
    border-left: 1px solid #ffffff;
}
#last-li
{
    border-right: 1px solid #ffffff;
}
.footer-links
{
    height: 112px;
    padding: 40px 0px;
}
.dl-footer-links
{
    float: left;
    width: 160px;
    height: 112px;
}
.dl-footer-links dt
{
    margin-bottom: 26px;
    margin-top: -1px;
    font-size: 14px;
    color: rgb(66,66,66);
}
.dl-footer-links dd
{
    margin-top:10px;
    font-size: 12px;
}
.dl-footer-links a
{
    color: rgb(117,117,117);
}
.dl-footer-links a:hover
{
    color: #ff6700;
}
.footer-contact
{
    height: 112px;
    width: 252px;
    float: right;
    border-left: 1px solid #e0e0e0;
}

.footer-contact p
{
    display: block;
    height: 36px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    color: #616161;
    margin-bottom: 16px;
}
.footer-contact .phone
{
    height: 22px;
    text-align: center;
    line-height: 22px;
    font-size: 22px;
    color: #ff6700;
    margin-bottom: 5px;
}
.footer-contact a
{
    display: block;
    height: 30px;
    width: 120px;
    background: url("../img/tim.jietu1.png");
    margin-left: 66px;
}
.footer-contact a:hover
{
    background: url("../img/TIM图片2.png");
}
/*页面底部导航结束*/
/*页面最底部开始*/
.page-info
{
    width: 100%;
    height: 106px;
    padding: 30px 0px;
    background: rgb(250,250,250);
}
.page-info .container
{
    height: 57px;
    position: relative;
}
.mi-logo
{
    height: 57px;
    width: 57px;
    background: url("../img/logo-footer.png");
    margin-right: 10px;
}
.info-text
{
    position: absolute;
    top: 1px;
    left: 67px;
    width: 718px;
    height: 55px;
    font-size: 12px;
    color: rgb(117,117,117);
    line-height: 18px;
}
.info-text a
{
    color: rgb(117,117,117);
}
.p-info-text,.p-info-text a
{
    color: rgb(176,176,176);
}
.info-text a:hover
{
    color: rgb(255,103,0);
}
.info-anthor
{
   position: absolute;
    top: 0px;
    right:0px;
    width: 376px;
    height: 28px;
    margin-top: 4px;
}
.info-anthor img
{
    width: 85px;
    height: 28px;
    margin-left: 5px;
}
.words-mi
{
    width: 267px;
    height: 19px;
    background: url("../img/slogan2016.png") no-repeat center;
   margin: 30px auto 0px;
}
/*页面最底部结束*/




